@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Manrope", serif !important;
}

body {
  margin: 0;
  font-family: "Manrope", serif;
  /* background-color: rgb(36, 39, 41) !important; */
  background-color: rgb(227, 227, 227) !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #464b50;
}
